.auth-container {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.auth-banner-container {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 397px;
}

.auth-banner-container h1 {
  padding-left: 27px;
  margin-bottom: 19px;
  font-size: 48px;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-bottom: 15px;
}

.auth-banner-container p {
  padding-left: 27px;
  margin-bottom: 50px;
  font-size: 22px;
  width: 330px;
  letter-spacing: -0.015em;
  color: #f2f2f2;
}

.auth-banner-container svg {
  width: 397px;
}
