.login-card {
  padding: 20px;
  font-size: 16px;
}

.mb {
  margin-bottom: 20px;
}

.login-card h1 {
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 59px;
  margin-bottom: 40px;
}

.login-card input {
  background-color: #ffffff;
  height: 47px;
}

.login-submit {
  margin-bottom: 10px;
}

.login-submit button {
  margin-top: 54px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
}

.btn h6 {
  font-size: 20px;
}

@media (min-width: 576px) {
  .login-card {
    padding: 50px;
  }
  .mb {
    margin-bottom: 30px;
  }
  .login-submit button {
    margin-top: 74px;
    height: 70px;
  }
}
