.review-form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 157px;
  margin: 20px 10px 0px 10px;
}

.review-form-card input {
  background-color: #ffffff;
  height: 47px;
}

.review-input {
  font-size: 16px;
}

.review-submit button {
  width: 100%;
  height: 50px;
  border-radius: 4px;
}

.btn h6 {
  font-size: 20px;
}

@media (min-width: 576px) {
  .review-input {
    margin: 20px;
  }
  .review-submit button {
    margin: 20px 20px 24px 20px;
  }
}

@media (min-width: 768px) {
  .review-input {
    width: 700px;
  }
  .review-submit {
    margin-left: 150px;
  }
  .review-submit button {
    width: calc(100% - 250px);
  }
}

@media (min-width: 1200px) {
  .review-input {
    width: 1077px;
    margin: 24px;
  }

  .review-submit {
    margin-left: 350px;
  }

  .review-submit button {
    width: calc(100% - 400px);
  }
}
