.login-card {
  padding: 20px;
  font-size: 16px;
  width: 479px;
  height: 573px;
  background: #6c6c6c;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.login-card h1 {
  font-weight: normal;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 35px;
}

.login-card input {
  margin-left: 30px;
  padding-left: 12px;
  width: 384px;
  height: 46.88px;
  background: #fefefe;
  border: 1px solid #fefefe;
  box-sizing: border-box;
  border-radius: 4px;
}

.login-submit {
  margin-left: 30px;
  margin-top: 70px;
  margin-bottom: 10px;
}
