.main-nav {
  padding-left: 40px;
  height: 70px;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #000;
  font-size: 24px;
}

.main-logof,
.main-logof:hover {
  display: flex;
  font-size: 18px;
  padding-right: 30px;
  justify-content: space-between;
  color: #000;
}
